$gray: #EEEEEE;
$blue: #234C63;
$green: #379956;
$yellow: #FFC85B;
$bgt: rgba(0, 0, 0, 0.5);

@mixin shadow {
    -webkit-box-shadow: 15px 15px 35px gray;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 2;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 25px;
    display: inline;
    vertical-align: middle;
}

h3 {
    text-align: left;
    display: inline;
    margin-left: 50px;
    color: $gray;
    vertical-align: middle;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
    z-index: 999;

    .info-content {
        color: #999;
    }
}

section {
    position: relative;
    display: block;
    vertical-align: top;
    width: 50%;
    transition-duration: 0.7s;
}

.header {
    background-color: $blue;
    width: 100%;
    height: 8%;
    padding: 15px;
    z-index: 1;

    h1 {
        color: $yellow;
    }
}

.temperature {
    display: block;
    position: fixed;
    border: solid 1px gray;
    top: 11%;
    left: 1%;
    width: 25px;
    height: 200px;
    background: -webkit-linear-gradient(top, rgba(0, 0, 122, 1), rgba(255, 255, 0, 1));
    z-index: 999;
    cursor: pointer;
}

.arrow {
    position: fixed;
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.7);
    width: 51px;
    height: 51px;
    border-radius: 100%;
    left: 30%;
    top: 50%;
    text-align: center;
    font-size: 37px;
    z-index: 99999;
    cursor: pointer;
    transition-duration: 0.7s;
    line-height: 1.5;
}

.story {
    position: absolute;
    border-radius: 5px;
    top: 11%;
    width: 28%;
    left: 4%;
    box-sizing: border-box;
    height: 83%;
    overflow: auto;
    background-color: $bgt;
    padding: 30px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 5;
    transition-duration: 0.7s;
    letter-spacing: 10px;

    @include shadow;

    .mark {
        background-color: #FFED97;
        height: 30px;
        width: 100%;
        position: fixed;
        bottom: 8%;
        z-index: 5;
        background-color: transparent;
        transition-duration: 0.7s;

        .like {
            background-color: $yellow;
            border-radius: 4px;
            display: block;

            // border: solid 2px black;
            // -webkit-box-shadow: 1px 1px 3px white;
            position: absolute;
            height: 40px;
            width: 40px;
            left: 1%;
            top: 0px;
            transition-duration: 0.7s;

            img {
                position: absolute;
                top: 4px;
                left: 4px;
                display: table-cell;
                text-align: cneter;
                vertical-align: middle;
                cursor: pointer;
            }
        }

        .comment {
            background-color: $yellow;
            border-radius: 4px;
            display: block;

            // border: solid 2px black;
            position: absolute;
            top: 0px;
            height: 40px;
            width: 20%;
            left: 5%;
            padding: 15px;
            color: gray;
            transition-duration: 0.7s;
        }
    }

    .content {
        text-align: center;
        margin-bottom: 45px;
        transition-duration: 0.7s;
        letter-spacing: 2.5px;
    }
}

.map {
    width: 100%;
    height: 92%;
    z-index: 0;

    #map {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .bar {
        display: block;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        width: 220px;
        height: 45px;
        transition: translate(-50%, -50%);
        z-index: 1;
        left: 35%;
        -webkit-box-shadow: 5px 5px 20px rgb(175, 175, 175);
    }

    .timebar {
        // border: solid 0.5px gray;
        border-radius: 4px;
        top: 35px;

        .line {
            border: solid 0.5px black;
            position: absolute;
            margin-left: 10px;
            margin-right: 10px;
            top: 50%;
            width: 90%;
        }
    }

    .colorbar {
        bottom: 35px;

        // border: solid 0.5px gray;
        border-radius: 4px;
        cursor: pointer;

        .cblock {
            display: inline-block;
            padding: 5px;

            /*border: solid 1px black;*/
            height: 90%;
            width: 20%;
            margin: auto;
            border-radius: 5px;
            margin: 3px;
        }

        .cb1 {
            background-color: rgba(0, 0, 122, 0.7);
        }

        .cb2 {
            background-color: rgba(255, 255, 0, 0.7);
        }

        .cb3 {
            background-color: rgba(255, 0, 0, 0.7);
        }

        .cb4 {
            background-color: rgba(107, 107, 107, 0.7);
        }
    }

    .add {
        position: fixed;
        right: 50px;
        bottom: 50px;
        border: solid 1px red;
    }
}

.type {
    /*background-color: white;*/
    /*display: block;*/
    /*margin-top: 1%;*/
    /*margin-bottom: 3%;*/
    border-radius: 4px;
    vertical-align: middle;
    width: 90%;
    height: 70%;
    border: solid 0.5px gray;
    position: absolute;
    top: 4.5px;
}

/*.arrow:before, .arrow:after {
  content: "";
  border: solid 1px white;
  position: fixed;
  background-color: #fff;
  width: 40px;
  height: 10px;
  left: 50%;
  top: 50%;
  z-index: 99999999;
  display: block;
  transform: translate(0,-100%) rotate(45deg);
}
.arrow:after {
  transform: rotate(-45deg);  
}
*/

.bookmark {
    .bk {
        position: fixed;
        border: solid 1px gray;
        background-color: #eeeeee;
        width: 70px;
        height: 50px;
        z-index: 50;
        display: none;
    }

    .bk1 {
        top: 56%;
    }

    .bk2 {
        top: 16%;
    }

    .bk3 {
        top: 24%;
    }

    .bk4 {
        top: 32%;
    }

    .bk5 {
        top: 40%;
    }

    .bk6 {
        top: 48%;
    }
}

.sitemark {
    .s1 {
        position: fixed;
        z-index: 2;
        left: 70%;
        top: 70%;
    }

    .s2 {
        position: fixed;
        z-index: 2;
        left: 80%;
        top: 90%;
    }

    .s3 {
        position: fixed;
        z-index: 2;
        left: 50%;
        top: 30%;
    }

    .s4 {
        position: fixed;
        z-index: 2;
        left: 30%;
        top: 60%;
    }

    .s5 {
        position: fixed;
        z-index: 2;
        left: 90%;
        top: 45%;
    }

    .s6 {
        position: fixed;
        z-index: 2;
        left: 95%;
        top: 10%;
    }
}